Package: com.yourcompany.browser
Name: Browser
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Aashir
Author: Aashir
Section: Tweaks
